.customScrollerBar {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 14px;
  }
  
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track-piece {
    background-color: #d6dcda;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 7px;

  } 
  
  &::-webkit-scrollbar-track-piece {
    background-color: #f3f3f3;
  }
}

.avatar {
  border-radius: 50%;
  overflow: hidden;

  img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.header {
  width: 100%;
  height: 55px;

  .fixed {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e6ebe9;
    background-color: #f2f5f4;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;

    .logo {
      width: 100px;
      height: 100%;
      background: url(../img/logo.svg) no-repeat center center;
      background-size: 40px auto;
    }
  }

  .menu {
    line-height: 54px;
    a {
      padding-right: 15px;
      cursor: pointer;

      &.active {
        color: #4a85e4;
      }
    }
  }
}

.menuBar {
  width: 194px;
  min-height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 55px;
  bottom: 0;
  z-index: 99;
  padding-top: 20px;
  box-shadow: 4px 0 30px rgba(0, 0, 0, .08);

  .addNewGroup {
    display: block;
    cursor: pointer;
    width: 152px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #4e8bed;
    color: #fff;
    text-align: center;
    transition: all .3s;
    box-shadow: 0 6px 32px -4px rgba(0, 102, 255, 0.28);

    i.edit {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      background: url(../img/edit.svg) no-repeat;
      background-size: 100% auto;
      margin: -2px 8px 0 0;
    }

    &:hover {
      background-color: #0084ff;
      box-shadow: 0 8px 42px -3px rgba(0, 137, 255, 0.4);
    }
  }

  .menuList {
    padding-top: 20px;

    .item {
      padding: 8px 0 8px 20px;
      line-height: 24px;
      opacity: .6;
      position: relative;
      cursor: pointer;

      .icon {
        font-size: 20px;
        margin: 0 5px;
      }

      &.active {
        opacity: 1;
        color: #4a85e4;

        &:after {
          content: "";
          height: 100%;
          width: 15px;
          position: absolute;
          left: 0;
          top: 0;
          border-left: 3px solid #0084ff;
          background: -webkit-linear-gradient(175deg,  rgba(0,0,0,0) 0, rgba(0, 132, 255, 0.18) 100%);
        }
      }
    }
  }
}

.userBar {
  width: 364px;
  min-height: 400px;
  background-color: #f7faf9;
  position: absolute;
  left: 194px;
  top: 55px;
  bottom: 0;
  z-index: 98;
  border-right: 1px solid #e6ebe9;

  .scroller {
    padding: 15px 0 15px 20px;
    width: 324px;
  }

  .card {
    width: 294px;
    padding: 10px 15px;
    min-height: 140px;
    background-color: #fff;
    border-radius: 5px;
    // box-shadow: 0 3px 14px -2px rgba(0, 0, 0, .08);
    margin-bottom: 14px;
    position: relative;

    .head {
      padding-left: 45px;
    }

    .avatar {
      width: 36px;
      height: 36px;
      position: absolute;
      left: 10px;
      top: 10px;
    }

    .name {
      font-size: 16px;
      color: #4e8bed;
      font-weight: 700;
      margin-bottom: 4px;
    }

    .time {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #c8cecb;
    }

    .item {
      padding-top: 10px;
      padding-bottom: 30px;
      position: relative;
      border-top: 1px solid #EFF2F7;
      margin-top: 10px;

      .desc {
        color: #a6b2ad;
      }

      .bar {
        height: 6px;
        width: 260px;
        position: absolute;
        left: 0;
        bottom: 14px;
        background-color: #eee;
        border-radius: 4px;

        .progress {
          height: 100%;
          background-color: #4e8bed;
          border-radius: 4px;
        }

        .label {
          position: absolute;
          right: -36px;
          bottom: -6px;
          font-size: 12px;
          color: #999;
        }
      }
    }

    .state {
      color: #a6b2ad;
      font-size: 13px;
    }
  }
}
