<!doctype html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit"/>
<title>DEMO PAGE</title>
<script src="../js/init.js"></script>
<link rel="stylesheet" href="../sass/main.css">
</head>

<body>
  <div class="page-home">
    <div class="banner">
      <img src="../images/banner_1.jpg" width="100%" alt="">
    </div>
    <div class="menu">
      <div class="cell">
        <i class="ico-menu a"></i>
        <span>账户</span>
      </div>
      <div class="cell">
        <i class="ico-menu b"></i>
        <span>账户</span>
      </div>
      <div class="cell">
        <i class="ico-menu c"></i>
        <span>账户</span>
      </div>
      <div class="cell">
        <i class="ico-menu d"></i>
        <span>账户</span>
      </div>
      <div class="cell">
        <i class="ico-menu e"></i>
        <span>账户</span>
      </div>
      <div class="cell">
        <i class="ico-menu f"></i>
        <span>账户</span>
      </div>
      <div class="cell">
        <i class="ico-menu g"></i>
        <span>账户</span>
      </div>
      <div class="cell">
        <i class="ico-menu h"></i>
        <span>账户</span>
      </div>
    </div>
    <div class="app-list-with-title">
      <div class="title">
        <div class="text">
          <i class="coin"></i>
          <span>投资热点</span>
        </div>
        <a href="#">更多</a>
      </div>
      <div class="list">
        <li class="arr">
          <div class="left">
            <i class="label a"></i>
            <h2>一分起存 随时取现</h2>
          </div>
          <div class="right">
            <h1>6.23%</h1>
            <h2>七日年化收益</h2>
          </div>
        </li>
        <li class="arr type2">
          <div class="left">
            <i class="label b"></i>
            <h2>一分起存 随时取现</h2>
          </div>
          <div class="right">
            <h1>6.23%</h1>
            <h2>七日年化收益</h2>
          </div>
        </li>
      </div>
    </div>
  </div>
</body>
</html>
